<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="../index.php">
        <i class="menu-icon bi bi-house-door-fill"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item nav-category">Dropdown</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon bi bi-wallet-fill"></i>
        <span class="menu-title">Sales</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="completed_sales.html">Completed Sales</a></li>
          <li class="nav-item"> <a class="nav-link" href="saved_carts.html">Saved Carts</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Reports</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="sales_summary.html">Sales Summary</a></li>
          <li class="nav-item"><a class="nav-link" href="sales_by_staff.html">Sales by Staff</a></li>
          <li class="nav-item"><a class="nav-link" href="sales_by_item.html">Sales by Item</a></li>
          <li class="nav-item"><a class="nav-link" href="sales_by_category.html">Sales by Category</a></li>
          <li class="nav-item"><a class="nav-link" href="inventory_valuation.html">Inventory Valuation</a></li>
          <li class="nav-item"><a class="nav-link" href="taxes.html">Taxes</a></li>
          <li class="nav-item"><a class="nav-link" href="discount.html">Discount</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="customers.html">
        <i class="menu-icon bi bi-people-fill"></i>
        <span class="menu-title">Customers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="staffs.html">
        <i class="menu-icon bi bi-person-workspace"></i>
        <span class="menu-title">Staffs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="activity_logs.html">
        <i class="menu-icon bi bi-activity"></i>
        <span class="menu-title">Activity Logs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
        <i class="menu-icon bi bi-shop-window"></i>
        <span class="menu-title">Inventory</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="all_items.html">All items</a></li>
          <li class="nav-item"> <a class="nav-link" href="categories.html">Categories</a></li>
          <li class="nav-item"> <a class="nav-link" href="stock_history.html">Stock History</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="suppliers.html">
        <i class="menu-icon bi bi-truck"></i>
        <span class="menu-title">Suppliers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="settings.html">
        <i class="menu-icon bi bi-gear-wide"></i>
        <span class="menu-title">Settings</span>
      </a>
    </li>
    <li class="nav-item dropdown d-none d-lg-block user-dropdown">
      <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="img-xs rounded-circle" src="../assets/images/faces/face8.jpg" alt="Profile image"> </a>
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
        <div class="dropdown-header text-center">
          <img class="img-md rounded-circle" src="../assets/images/faces/face8.jpg" alt="Profile image">
          <p class="mb-1 mt-3 fw-semibold">Allen Moreno</p>
          <p class="fw-light text-muted mb-0">allenmoreno@gmail.com</p>
        </div>
        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> FAQ</a>
        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
      </div>
    </li>
  </ul>
</nav>